<select name="language">
    <option value="en" selected>영어</option>
    <option value="ja">일본어</option>
    <option value="zh-CN">중국어(간체)</option>
    <option value="zh-TW">중국어(번체)</option>
    <option value="fr">프랑스어</option>
    <option value="it">이탈리아어</option>
    <option value="ru">러시아어</option>
    <option value="es">스페인어</option>
    <option value="tl">필리핀어</option>
    <option value="de">독일어</option>
    <option value="vi">베트남어</option>
    <option value="pt">포르투갈어</option>
</select>