<html>
<head>
    <meta charset="UTF-8">
    <title>Translation Talk</title>
</head>
<body>
<form action="/sendMe/send">
    최대 20자 : <input type="text" name="message" maxlength="20">
    <input type="submit" value="제출">
</form>
</body>
</html>