<html>
<head>
    <meta charset="UTF-8">
    <title>Translation Talk</title>
</head>
<body>
    {{>part/nav}}
    <script>
		alert("필요 동의 항목에 체크하지 않았거나 서버의 문제일 수 있습니다. 나 혹은 친구에게 보내기를 한 번 더 누르면 동의 화면으로 이동합니다.");
		window.location.replace("http://kimcoder.kro.kr:8080/home");
	</script>
</body>
</html>