<html>
<head>
    <meta charset="UTF-8">
    <title>Translation Talk</title>
</head>
<body>
    {{>part/nav}}
    <script>
		alert("세션이 만료되었습니다. 메인 홈페이지로 이동합니다.");
		window.location.replace("http://kimcoder.kro.kr:8080/home");
	</script>
</body>
</html>