<html>
<head>
    <meta charset="UTF-8">
    <title>Kakao Login</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=50ca5e8cf40713abcab868ed9ed3047d&redirect_uri=http%3A%2F%2Fkimcoder.kro.kr%3A8080%2FfriendList&scope=friends,talk_message">
    <h1>친구에게 메세지 보내기</h1>
</a><br>

<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=50ca5e8cf40713abcab868ed9ed3047d&redirect_uri=http%3A%2F%2Fkimcoder.kro.kr%3A8080%2FsendMe%2FenterMsg&scope=talk_message">
    <h1>나에게 메세지 보내기</h1>
</a>
</body>
</html>