<html>
<head>
    <meta charset="UTF-8">
    <title>Translation Talk</title>
</head>
<body>
    {{>part/nav}}
    <label>카카오 플랫폼 서비스의 일시적 내부 장애 상태입니다. 잠시후 다시 시도해주세요.</label>
    <a href="http://kimcoder.kro.kr:8080/home">홈으로 이동</a>
</body>
</html>