<html>
<head>
    <meta charset="UTF-8">
    <title>Translation Talk</title>
</head>
<body>
<form action="/sendfriend/send">
    <h2>To {{nickname}}</h2>
    최대 20자 : <input type="text" name="message" maxlength="20">
    <input type="submit" value="전송">
</form>
</body>
</html>